{% import_yaml 'baikaldav/defaults.yaml' as defaults %}

{% set os_family_map = salt['grains.filter_by']({
  'Debian': {
    
      'server': 'nginx',
      'service': 'nginx',
      'conf_d': '/etc/nginx/sites-enabled'
  },
  'RedHat': {
      'server': 'nginx',
      'service': 'nginx',
      'conf_d': '/etc/nginx/conf.d'
  }
}, 
grain="os_family",
merge=salt['pillar.get']('baikal')
) %}

{% do defaults.update(os_family_map) %}

{% set baikal = salt['pillar.get'](
        'baikal',
        default=defaults,
        merge=True
    )
%}


